*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Other
*.log